{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>Exercise Guide</h2>

<div class="exercise">

<img src="/static/exercises/childpose.jpg">

<h3>Child Pose</h3>

<p>Hold for 3 minutes</p>

<p>Relieves menstrual cramps.</p>

</div>

<div class="exercise">

<img src="/static/exercises/catcow.jpg">

<h3>Cat Cow Pose</h3>

<p>Repeat for 2 minutes</p>

<p>Improves spinal flexibility.</p>

</div>

<div class="exercise">

<img src="/static/exercises/butterfly.jpg">

<h3>Butterfly Pose</h3>

<p>Hold for 4 minutes</p>

<p>Improves pelvic circulation.</p>

</div>

</div>

{% endblock %}